*{
    background-color: bisque;
}
#logo{
    height: 150px;
    width: 150px;
}
table,th,td{
    border: solid 1px blue;
}
form {
    text-align: center;
    color:blue;
}
table{
    margin-left: auto;
    margin-right: auto;
}
#home{
    text-align: center;
    font-size: large;
}
#home a{
    text-decoration: none;
}
#sales{
    position: relative;
    float:right;
    font-size: xx-large;
    right: 20px;
}
#logo{
    position: relative;
    top: -40px;
}
#family{
    text-align: center;
}
#par{
    text-align: center;
}
#wel{
    text-align: center;
    font-size: xx-large;
    color: rgb(16, 30, 223);
    font-family: 'Caveat', cursive;
    background-color: lightcoral;
}
main #par p{
    font-size: large;
    color: rgb(53, 11, 202);
    font-family: Georgia, serif;
    background-color: darksalmon;
}
main h2{
    font-family: Verdana, sans-serif;
    color: crimson;
    background-color:lightgoldenrodyellow;
}
header nav{
    background-color:lightyellow;
    height: 100px;
}
#sales a{
    text-decoration: none;
}